.content-container{
    width: 50vw;
}
.blogDetails-card {
  width: 80vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: black;
  margin: auto;
  margin-bottom: 15vh;
  margin-top: 17vh;
}
.blogDetails-card h3,
p,
img {
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  border-radius: 10px;
  width: 40vw;
  height: auto;
}
aside {
  background-color: rgb(17, 16, 16);
  width: 20vw;
  height: 60vh;
  /* position: absolute;
  top: 17%;
  left: 68%; */
  border-radius: 10px;
  overflow: hidden;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.blogDetails-card > * {
  color: white;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .blogDetails-card {
    width: 70vw;
    height: auto;
    margin-bottom: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    margin-top: 13vh;
    margin-left: 15vw;
  }

  aside {
    background-color: rgb(49, 49, 49);
    width: 50vw;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    color: white;
  }
}

/* @media only screen and (max-width: 1300px) {
    .blogDetails-card{
        width: 83vw;
        height: auto;
         display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; 
        margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    margin-top: 15vh;
    
    }   
    aside{
        background-color: rgb(66, 66, 92);
        width: 20vw;
        height: 60vh;
        border-radius: 10px;
    } 
}

@media only screen and (max-width: 400px) {
   
} */
