.blog-card {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
  background-color: black;
}
.blog-card h3,
p {
  color: white;
}
.blog-card h3 {
  padding-top: 10px;
  padding-left: 10px;
}
.blog-card p {
  padding-left: 10px;
}
.blog-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-size: cover;
}
.blog-container {
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  margin-top: 20vh;
  padding-top: 15px;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 520px) {
  .blog-card {
    border: 2px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* margin-top: 10px; */
    border-radius: 10px;
    background-color: black;
  }
}
@media only screen and (max-width: 300px) {
  .blog-card {
    border: 2px solid black;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: space-+between;
    flex-direction: column;
    /* margin-top: 10px; */
    border-radius: 10px;
    background-color: black;
  }
  /* .blog-card h3,
  p {
    padding-top: 10px;
  } */
}
