.main-div{
    text-align: center;
    margin: 30vh auto;
    width: 80vw;
    height: auto;
    font-size: 50px;
    background-color: black;
}

.para {
padding-top: 5vh;
font-size: 40px;
padding-top: 10vh;
}
.Typewriter{
    color: white;
}